<!DOCTYPE html>

<%- include('../partials/head') %>
<body>  
<%- include('../partials/header') %> 
<main>







<div class="about-title">
    <h2>Quem Somos</h2>
  </div>  
  
  <div class="about-container">
  
    <div class="about-image">
        <img src="/img/about.png">
    </div>
    <br>
    <div class="about-text">
      <p>Criada por um grupo de professores especialistas e atuantes por mais de 14 anos na 
        área de preparatórios para Enem, Cefet/ Coltec e concursos públicos, o Instituto Magnum 
        surgiu com o intuito de transmitir conhecimento aos alunos que sonham em concluir 
        seus estudos, ingressar na universidade, cursos técnicos ou em uma carreira pública de sucesso.
        
        <p><br>Além da vasta experiência de seus fundadores em preparatórios, o Instituto Magnum conta com um excelente corpo docente
        rigorosamente selecionado para que seus alunos sejam vitoriosos em suas escolhas e tenham a instituição como referência no 
        ensino de qualidade e de aprovações!</p>
        <br><br><br><br>
      <p>Vem ser Destaque também!!</p>
      </div>
   
  </div>
  

<%- include('../partials/wpp') %>

<%- include('../partials/scripts') %>

<%- include('../partials/footer') %>
</main>
</body>
</html>