<!DOCTYPE html>

<%- include('../partials/head') %>
<body style="background-color: rgb(255, 255, 255);">
   
<%- include('../partials/header') %>



<main>
    <div class="idosos-slogan">
        <h1>ADMINISTRAÇÃO</h1>
    </div>

<div class="idosos-principal">    
     
    <div class="idosos-content">
        <h1>Sobre a profissão</h1><br><br>
        <h4>Descrição</h4><br>
    </div>

        <div class="paragrafo">
        <p>O curso de Administração forma profissionais para atuarem na área executiva, 
            em funções administrativas, ou ainda abrirem o seu próprio negócio, capazes, tanto 
            conceitualmente quanto na prática, 
            de contribuir para o sucesso das organizações em que atuarem.</p>    
        </div>    
        <br><br>

    
            <div class="paragrafo">
            <p>-Administração de Empresas</p>
            <p>Essa especialização fornece aos discentes uma visão sobre todos os processos de operação de uma empresa, pública ou privada, desde a organização de seus recursos até o desenvolvimentos de estratégias de vendas ou marketing.</p><br>
                
            <p>-Administração em Análise de Sistemas</p>
            <p>Forma profissionais com conhecimentos de hardwares e softwares centrados na gestão integrada das informações das empresas, colocando o acesso às informações como fundamental para tomada de decisões.</p><br>
                
            <p>-Administração em Comércio Exterior</p>
            <p>Profissionais com essa habilitação podem realizar negócios internacionais, pois sabem os mecanismos reguladores de importações e exportações e sabem como auxiliar as empresas a se expandirem para fora do país.</p> <br>
                
            <p>-Administração em Finanças</p>
            <p>A habilitação em Finanças fornece conhecimentos sobre finanças organizacionais, organização e coordenação das atividades financeiras das empresas, assim as pessoas formadas na área podem fazer previsão de recursos e estudar formas mais rentáveis da aplicação deles, lidando com patrimônio, capital de giro, análise de orçamentos e fluxo de caixa das empresas.</p><br>
                
            <p>-Administração em Marketing</p>
            <p>Essa especialização fornece conhecimentos para identificar e atender às necessidades dos clientes e dos mercados, criando estratégias para que os produtos e as marcas de uma organização sejam conhecidos pelo público.</p><br>
                
            <p>-Administração em Recursos Humanos
            <p>Quem se gradua com essa habilitação se especializa na gestão das pessoas; no cuidado das relações entre os funcionários, trabalha para estimular a utilização plena dos seus potenciais e coordena estruturas de cargos e planos de carreira, sistemas de remuneração e reconhecimento, programas de incentivo, treinamento e de capacitação, entre outras atividades.</p>
            </div>    

        
                <div class="cards">
                    <div class="card">
                        <div class="icon">
                            <img src="/img/calendar.png">
                        </div>
                        <h3>Duração</h3>
                        <span>tantos dias</span>
                        <span></span>
                    </div>
                    <div class="card">
                        <div class="icon">
                            <img src="/img/clock.png">
                        </div>
                        <h3>Carga Horária</h3>
                        <span>360h/a</span>
                        <span></span>    
                    </div>
                    <div class="card">
                        <div class="icon">
                            <img src="/img/sol.png">
                        </div>
                        <h3>Turnos</h3>
                        <span>2º a 6º feira</span>
                        <span>Manhã -08h às 11h40<br>
                        Noite -19h às 22h30</span>
                    </div>
                </div>

                <div class="continue-button">   
                <a href="/matricula" value="Matricule-se">
                <button> Matricule-se já </button></a>                    
                </div> 
                
                        
</div>







<%- include('../partials/wpp') %>

<%- include('../partials/scripts') %>




<%- include('../partials/footer') %>


   <script src="js/script.js"></script> 
</main> 
</body>
</html>