<!DOCTYPE html>

<%- include('../partials/head') %>
<body style="background-color: rgb(255, 255, 255);">
   
<%- include('../partials/header') %>



<main>
    <div class="idosos-slogan">
        <h1>AUXILIAR JURÍDICO</h1>
    </div>
   



<div class="idosos-principal">    

    <div class="idosos-content">
        <h1>Sobre a profissão</h1><br><br>
        <h4>Descrição</h4><br>
    </div>

        <div class="paragrafo">
        <p>O Auxiliar Jurídico é o profissional responsável por prestar serviços de suporte e apoio técnico-administrativo a escritórios de advocacia.

            Um Auxiliar Jurídico é responsável pelo gerenciamento e pelo arquivo de processos de documentos técnicos.
            
            Está sob as responsabilidades de um Auxiliar Jurídico prestar suporte e dar apoio técnico-administrativo a escritórios de advocacia, de auditoria jurídica, recursos humanos e departamentos administrativos, visando cumprir as determinações legais atribuídas a cartórios judiciais e extrajudiciais, executando procedimentos e registros cabíveis, prestando atendimento ao público, sendo responsável também pelo gerenciamento e pelo arquivo de processos e de documentos técnicos.
            
            Para que o profissional tenha um bom desempenho como Auxiliar Jurídico é essencial ter conhecimento em departamento administrativo e noções na área de Direito.</p>    
        </div>    
        <br><br>

    
            <div class="paragrafo">
            <p>O Auxiliar Jurídico por ser o profissional responsável por prestar serviços de suporte e apoio técnico-administrativo a escritórios de advocacia se relaciona com as áreas de Processos Administrativos e Direito.
            </p>
            </div>    

            
            <div class="cards">
                <div class="card">
                    <div class="icon">
                        <img src="/img/calendar.png">
                    </div>
                    <h3>Duração</h3>
                    <span>tantos dias</span>
                    <span></span>
                </div>
                <div class="card">
                    <div class="icon">
                        <img src="/img/clock.png">
                    </div>
                    <h3>Carga Horária</h3>
                    <span>360h/a</span>
                    <span></span>    
                </div>
                <div class="card">
                    <div class="icon">
                        <img src="/img/sol.png">
                    </div>
                    <h3>Turnos</h3>
                    <span>2º a 6º feira</span>
                    <span>Manhã -08h às 11h40<br>
                    Noite -19h às 22h30</span>
                </div>
            </div>

            <div class="continue-button">   
            <a href="/matricula" value="Matricule-se">
            <button> Matricule-se já </button></a>                    
            </div> 
                
                        
</div>







<%- include('../partials/wpp') %>

<%- include('../partials/scripts') %>




<%- include('../partials/footer') %>


   <script src="js/script.js"></script> 
</main> 
</body>
</html>