<!DOCTYPE html>

<%- include('../partials/head') %>
<body style="background-color: rgb(255, 255, 255);">
   
<%- include('../partials/header') %>



<main>
    <div class="idosos-slogan">
        <h1>Informática</h1>
    </div>
   
    
    


<div class="idosos-principal">    
 
    <div class="idosos-content">
        <h1>Sobre a profissão</h1><br><br>
        <h4>O que faz um Técnico de Informática?</h4><br>
    </div>

        <div class="paragrafo">
        <p>O técnico em informática é um profissional que tem entre suas 
            responsabilidades a montagem, acabamento e manutenção de computadores, além da 
            identificação e correção de problemas em aparelhos eletrônicos.</p> 
            
            <p>Ele também instala e configura redes e softwares, trabalhando no desenvolvimento de sistemas e
                 websites, o que o leva a
                 atuar tanto em redes domésticas quanto empresariais (privadas e públicas).</p>
        </div>    
        <br><br><br><br>



        <div class="idosos-content">
            <h4>Perfil Profissional</h4><br>
        </div>
    
            <div class="paragrafo">
                <p>-O técnico em informática é um profissional que lida constantemente com pessoas, então é necessário que ele exercite bem a comunicação, 
                principalmente ao explicar sobre termos técnicos.</p>
                <br>
                <p>-Uma das premissas básicas de qualquer profissão é a ética, e na área de técnico em informática é fundamental que o profissional mantenha uma conduta clara e transparente 
                com seus clientes.</p><br>
                <p>-ser criativo e dinâmico neste ramo é essencial. Esta é uma das características que em qualquer setor fazem a diferença e, para o técnico em informática, resolver problemas rapidamente usando a criatividade é uma boa saída para 
                fugir do óbvio e obter resultados positivos.</p> <br> 
                <p>-O aprendizado na área de quem atua como técnico em informática deve ser constante, uma vez que a cada dia que passa as máquinas, peças, programas, evoluem mais rapidamente. Desse modo, é preciso que o profissional goste do que faz
                 e queira sempre saber o que há de novo e como lidar com o que surge.</p> <br>
                <p>-O campo para quem atua como técnico em informática é amplo, com um leque de oportunidades variadas, e o profissional tem que estar preparado para se ajustar a elas. Por isso, seja qual for sua forma de atuação, 
                    sempre esteja aberto para as outras formas de trabalho.</p>
            </div>    

            <div class="cards">
                <div class="card">
                    <div class="icon">
                        <img src="/img/calendar.png">
                    </div>
                    <h3>Duração</h3>
                    <span>tantos dias</span>
                    <span></span>
                </div>
                <div class="card">
                    <div class="icon">
                        <img src="/img/clock.png">
                    </div>
                    <h3>Carga Horária</h3>
                    <span>360h/a</span>
                    <span></span>    
                </div>
                <div class="card">
                    <div class="icon">
                        <img src="/img/sol.png">
                    </div>
                    <h3>Turnos</h3>
                    <span>2º a 6º feira</span>
                    <span>Manhã -08h às 11h40<br>
                    Noite -19h às 22h30</span>
                </div>
            </div>

            <div class="continue-button">   
            <a href="/matricula" value="Matricule-se">
            <button> Matricule-se já </button></a>                    
            </div> 
    

                
                        
</div>



























<%- include('../partials/wpp') %>

<%- include('../partials/scripts') %>


<%- include('../partials/footer') %>


   <script src="js/script.js"></script> 
</main> 
</body>
</html>