<!DOCTYPE html>

<%- include('../partials/head') %>
<body style="background-color: rgb(255, 255, 255);">
   
<%- include('../partials/header') %>



<main>
    <div class="idosos-slogan">
        <h1>LOGÍSTICA</h1>
    </div>
     
    

           
    




<div class="idosos-principal">    
      
    <div class="idosos-content">
        <h1>Sobre a profissão</h1><br><br>
        <h4>Descrição</h4><br>
    </div>

        <div class="paragrafo">
        <p>A logística é uma área encarada de forma inovadora já há algum tempo. À medida que foi sendo mais compreendida pelos gestores, ela tornou-se mais estratégica e oportuna. Considerada por alguns especialistas como fonte de desperdícios, o conceito de logística transformou-se — ou, antes, evoluiu —, passando a ser entendido como fundamental para evitar os desperdícios, reduzir custos e gerar lucros.</p><br>
        <p>PRINCIPAIS ATIVIDADES:</p>
        <p>-Controle e acompanhamento de solicitações de transporte (entregas e retiradas de materiais, transferência de estoque, carregamento e rastreamento do transporte);
        <p>-Elaboração e controle de indicadores, fluxos e custos de frota;</p>
        <p>-Elaboração e acompanhamento de relatórios e KPIs da operação;</p>
        <p>-Gestão do SLA de serviços prestados ao cliente (interno e externo);</p>
        <p>-Acompanhamento e gestão de divergências;</p>
        <p>-Participação em reuniões de alinhamento dos projetos da área;</p>
        <p>-Análise de relatórios (pedidos e entregas).</p>    
        </div>    
        <div class="cards">
            <div class="card">
                <div class="icon">
                    <img src="/img/calendar.png">
                </div>
                <h3>Duração</h3>
                <span>tantos dias</span>
                <span></span>
            </div>
            <div class="card">
                <div class="icon">
                    <img src="/img/clock.png">
                </div>
                <h3>Carga Horária</h3>
                <span>360h/a</span>
                <span></span>    
            </div>
            <div class="card">
                <div class="icon">
                    <img src="/img/sol.png">
                </div>
                <h3>Turnos</h3>
                <span>2º a 6º feira</span>
                <span>Manhã -08h às 11h40<br>
                Noite -19h às 22h30</span>
            </div>
        </div>

        <div class="continue-button">   
        <a href="/matricula" value="Matricule-se">
        <button> Matricule-se já </button></a>                    
        </div> 
                
                        
</div>







<%- include('../partials/wpp') %>

<%- include('../partials/scripts') %>




<%- include('../partials/footer') %>


   <script src="js/script.js"></script> 
</main> 
</body>
</html>