<!DOCTYPE html>

<%- include('../partials/head') %>
<body style="background-color: rgb(255, 255, 255);">
   
<%- include('../partials/header') %>



<main>
    <div class="idosos-slogan">
        <h1>MARKETING</h1>
    </div>
      
    
    

           



<div class="idosos-principal">    
       
    <div class="idosos-content">
        <h1>Sobre a profissão</h1><br><br>
        <h4>Descrição</h4><br>
    </div>

        <div class="paragrafo">
        <p>O analista de marketing atua na parte estratégica da empresa. É o profissional que pensa em ações que podem ser on ou off-line, inbound ou outbound, visando resultados como impulsionamento de vendas, construção e consolidação do relacionamento com os clientes e fortalecimento da imagem da marca no mercado. Para isso, atua em frentes como SEO, marketing digital e eventos externos.</p><br>
        <p>Você será a pessoa indicada para entender quais ações são as melhores para a consolidação da empresa no meio digital e constantemente analisar a performance de cada uma delas. Para fazer bem este trabalho, estamos buscando um perfil comunicativo, analítico e capaz de pensar em soluções de modo ágil.</p>    
        </div>    
        <div class="cards">
            <div class="card">
                <div class="icon">
                    <img src="/img/calendar.png">
                </div>
                <h3>Duração</h3>
                <span>tantos dias</span>
                <span></span>
            </div>
            <div class="card">
                <div class="icon">
                    <img src="/img/clock.png">
                </div>
                <h3>Carga Horária</h3>
                <span>360h/a</span>
                <span></span>    
            </div>
            <div class="card">
                <div class="icon">
                    <img src="/img/sol.png">
                </div>
                <h3>Turnos</h3>
                <span>2º a 6º feira</span>
                <span>Manhã -08h às 11h40<br>
                Noite -19h às 22h30</span>
            </div>
        </div>

        <div class="continue-button">   
        <a href="/matricula" value="Matricule-se">
        <button> Matricule-se já </button></a>                    
        </div> 
                
                        
</div>







<%- include('../partials/wpp') %>

<%- include('../partials/scripts') %>




<%- include('../partials/footer') %>


   <script src="js/script.js"></script> 
</main> 
</body>
</html>