<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
<%- include('../partials/header') %>
<main class="background">
<section class="box-form">
<div class="form">
        <form action="https://formsubmit.co/solgamsao@gmail.com" method="POST">
            <div class="form-header">
                <div class="title">
                    <h1>Ficha de Matrícula</h1>
                </div>
            </div>
            <div class="input-group">
                <div class="input-box">
                    <label for="name">Nome Completo *</label>
                    <input type="text" name="name" id="name" placeholder="Nome Completo" required>
                </div>

                <div class="input-box">
                    <label for="telefone">Data de Nascimento *</label>
                    <input type="date" name="nascimento" id="nascimento" required>
                </div>

                <div class="input-box">
                    <label for="telefone">Telefone com DDD *</label>
                    <input type="tel" name="telefone" id="telefone" maxlength="11" placeholder="(xx)xxxxx-xxxx" required>
                </div>

                <div class="input-box">
                    <label for="name">Cidade *</label>
                    <input type="text" name="endereco" id="name" placeholder="Cidade" required>
                </div>

                <div class="input-box">
                    <label for="email">Email *</label>
                    <input type="email" name="email" id="email" placeholder="Email" required>
                    <input type="hidden" name="_captcha" value="false">
                </div>

                
                
            </div>
        
            <div class="cursos-title">
                    <h4>Escolha a opção de interesse: *</h4>
                </div>
                <div class="cursos-group">
                    <select name="categoria" required>
                    <option>escolha seu curso--</option>
                    <option value="Administração">Administração</option>
                    <option value="Adobe">Adobe</option>
                    <option value="Autocad">Autocad</option>
                    <option value="Auxiliar Jurídico">Auxiliar Jurídico</option>   
                    <option value="Cuidador de Idosos">Cuidador de Idosos</option>
                    <option value="Empreendedorismo">Empreendedorismo</option>
                    <option value="Inteligência Artificial">Inteligência Artificial</option>
                    <option value="Informática">Informática</option>
                    <option value="Informática Kids">Informática Kids</option>
                    <option value="Logística">Logística</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Office">Office</option>
                    <option value="Photoshop">Photoshop</option>
                    <option value="Pré-Enem">Pré-Enem</option>
                    <option value="Preparatório para Concursos">Preparatório para Concursos</option>
                    <option value="Programação">Programação</option>
                    <option value="Recursos Humanos">Recursos Humanos</option>
                    <option value="Secretariado">Secretariado</option>  
                </div>    
                <input type="hidden" name="_next" value="http://localhost:5500/matricula">
           
             <div class="submit-button">
                <button><input type="submit" value="Enviar"></button>
             </div> 
            </select> 
        </form>

</div>


</section>
    















<%- include('../partials/wpp') %>

<%- include('../partials/scripts') %>



<%- include('../partials/footer') %>
    <script src="js/script.js"></script> 
</main>
</div>
</body>
</html>