<!DOCTYPE html>

<%- include('../partials/head') %>
<body style="background-color: rgb(255, 255, 255);">
   
<%- include('../partials/header') %>



<main>
    <div class="idosos-slogan">
        <h1>Pré-Enem</h1>
    </div>
  
    
    

           



<div class="idosos-principal">    
      
    <div class="idosos-content">
        <h1>Pré Enem 2023</h1><br><br>
        <h4>Prepare-se para o ENEM 2023 no melhor preparatório de toda região e saia na frente.
        </h4><br>
    </div>
    
            <div class="paragrafo">
                <p>- Melhor e mais completo  material didático do Brasil,
                <p>- Simulados 100% atualizados no formato ENEM
                <p>- Plantões e monitorias para revisão de conteúdos
                <p>- Professores especialistas em ENEM 
                <p>- Elaboração de planejamento de  estudo aos alunos ( Aprenda a estudar de forma eficiente para o ENEM)
                <p>- 90% de aprovação no Enem
                <p>- Projeto redação nota 1000
                <p>- 1º LUGAR NA UFMG NA ÚLTIMA TURMA
                <p>- E muito mais!   
            </div>    

            <div class="cards">
                <div class="card">
                    <div class="icon">
                        <img src="/img/calendar.png">
                    </div>
                    <h3>Duração</h3>
                    <span>tantos dias</span>
                    <span></span>
                </div>
                <div class="card">
                    <div class="icon">
                        <img src="/img/clock.png">
                    </div>
                    <h3>Carga Horária</h3>
                    <span>360h/a</span>
                    <span></span>    
                </div>
                <div class="card">
                    <div class="icon">
                        <img src="/img/sol.png">
                    </div>
                    <h3>Turnos</h3>
                    <span>2º a 6º feira</span>
                    <span>Manhã -08h às 11h40<br>
                    Noite -19h às 22h30</span>
                </div>
            </div>

            <div class="continue-button">   
            <a href="/matricula" value="Matricule-se">
            <button> Matricule-se já </button></a>                    
            </div> 

                    
</div>







<%- include('../partials/wpp') %>

<%- include('../partials/scripts') %>


<%- include('../partials/footer') %>


   <script src="js/script.js"></script> 
</main> 
</body>
</html>