<!DOCTYPE html>

<%- include('../partials/head') %>
<body style="background-color: rgb(255, 255, 255);">
   
<%- include('../partials/header') %>



<main>
    <div class="idosos-slogan">
        <h1>PROGRAMADOR</h1>
    </div>
   
    
    

           
    




<div class="idosos-principal">    
      
    <div class="idosos-content">
        <h1>Sobre a profissão</h1><br><br>
        <h4>O que faz um programador?</h4><br>
    </div>

        <div class="paragrafo">
        <p>O programador é o profissional que cria, desenvolve e mantém diferentes tipos de softwares em sistemas amplos ou para uso em computadores pessoais. Ele usa linguagens de programação, como html, java, c++, para criar comandos em programas, criando novas funcionalidades e utilidades.</p>    
        <p>Os programadores desenvolvem e aperfeiçoam websites, aplicativos, programas de computador, sistemas operacionais, sistemas de empresas, redes sociais, com infinitas possibilidades de atuação quando falamos de algo tão extenso quanto a rede e a tecnologia. Por isso, é um profissional cada vez mais essencial em qualquer ramo do mercado de trabalho.

        <p>O programador também lida com coleta de dados de usuários e posterior análise para tomadas de decisões assertivas e bem fundamentadas no desenvolvimento de produtos e serviços.</p>
        </div>    
        <div class="cards">
            <div class="card">
                <div class="icon">
                    <img src="/img/calendar.png">
                </div>
                <h3>Duração</h3>
                <span>tantos dias</span>
                <span></span>
            </div>
            <div class="card">
                <div class="icon">
                    <img src="/img/clock.png">
                </div>
                <h3>Carga Horária</h3>
                <span>360h/a</span>
                <span></span>    
            </div>
            <div class="card">
                <div class="icon">
                    <img src="/img/sol.png">
                </div>
                <h3>Turnos</h3>
                <span>2º a 6º feira</span>
                <span>Manhã -08h às 11h40<br>
                Noite -19h às 22h30</span>
            </div>
        </div>

        <div class="continue-button">   
        <a href="/matricula" value="Matricule-se">
        <button> Matricule-se já </button></a>                    
        </div> 
                
                        
</div>







<%- include('../partials/wpp') %>

<%- include('../partials/scripts') %>




<%- include('../partials/footer') %>


   <script src="js/script.js"></script> 
</main> 
</body>
</html>